{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}{{ playlist.track }}{% endblock %}

{% block body %}
    <article class="playlist">
        <header>
            <div class="date"><time datetime="{{ playlist.created|date('c') }}">{{ playlist.created|date('l, F j, Y') }}</time></div>
            <h2>{{ playlist.track }}</h2>
        </header>

        <div>
            <p>{{ playlist.singer }}</p>
            <p>{{ playlist.genre }}</p>
            <p>{{ playlist.year }}</p>
            <p>{{ playlist.duration }}</p>
        </div>
    </article>
{% endblock %}